*{
	margin: 0;
	padding: 0;
	text-decoration: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #121212;
    color: white;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

.body-container{
    padding:20px ;
    position: relative;
    left:0px;
    height: auto;
    top:70px;
    margin-top: 30px;
    display: flex;
    text-align: left;

}


.menu-container{
    width: 19%;
    text-align: left;
    background-color: transparent;
    margin-left: 14px;
    position: fixed;
    height: 600px;
    overflow: auto;
    display: block;


}


@media all and (max-width: 1300px) {
    .menu-container{    
     display: none;
  
    }
  }

.menu-container h1{
    font-size: 20px;
    font-weight: 500;

}



.menu-container a{
    font-size: 14px;
    font-weight: 400;
    margin-left:17px;
    color:white;
    text-decoration: none;

}


.break{
    margin-top: 40px;
    
}

.menu-container a:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.content-container{
    width: 60%;
    margin-left: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border:1px solid #c4c4c4;
    border-radius: 2px;
    padding: 50px;
    position: relative;
    left:65px;
}

@media all and (max-width: 1300px) {
    .content-container{    
        left:0px;
        width: 80%;

    }
  }

.textcontent{
    width: 100%;
    text-align: left;
}

.h0{
    font-size: 30px;
    color:white;
    font-weight: 500;
}

.h1{
    font-size: 28px;
    color:white;
    font-weight: 500;
}

.h2{
    font-size: 19px;
    color:white;
    font-weight: 600;
}

.p{
    font-size: 16px;
    color:white;
    font-weight: 400;
}



#PP{
    display: block;
    width: 100%;
    padding-top:60px;
}

#COOKIE{
    display: block;
    width: 100%;
    padding-top:60px;
}

#TOS{
    display: block;
    width: 100%;
    padding-top:60px;
}

#INTRO{
    padding-top:60px;
    padding-bottom:60px;
    background-color: transparent;
    height: 400px;
    text-align: center;

}

.devider{
    width: 100%;
    border-bottom: 1px solid #b1b1b1;
}